{% extends "base.html" %}
{% block javascript %}<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
<script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php" type="text/javascript"></script>
{% endblock %}
{% block content %}
	<div id="sidebar">
	<ul class="menu">
		<li class="leaf"><a href="/account">Account Home</a></li>
		<li class="leaf"><a href="/invest">Add a Link</a></li>
		<li class="leaf"><a href="/portfolio">Portfolio</a></li>
		<li class="leaf"><a href="/account/transactions.html">Transactions</a></li>
		<li class="leaf"><a href="/promote.html">Promote your site</a></li>
		<li class="leaf"><a href="/account/editdetails.html">Edit Details</a></li>
		<li class="leaf"><a id="logout" href="/account/logout.html">Logout</a></li>
	</ul>
	</div>
<script type="text/javascript">
$(document).ready(function() {
	FB_RequireFeatures(["XFBML"], function()
	{
		FB.Facebook.init("9669d802ca3cdcc15172ccd7b4636646", "/xd_receiver.htm");
	});

	FB.Connect.get_status().waitForValue(1, function() {
		$("#logout").click(function() { FB.Connect.logoutAndRedirect("/account/logout.html")}).attr("href", "#")
	})
});

</script>
	<div id="maincontents">
{% block text %}{% endblock %}
	</div>
{% endblock %}