{% extends "base.html" %}
{% block content %}
	 <div id="sidebar">
	 <ul class="menu">
          <li class="leaf"><a href="/account">Account Home</a></li>
          <li class="leaf"><a href="/invest">Add a Link</a></li>
          <li class="leaf"><a href="/portfolio">Portfolio</a></li>
          <li class="leaf"><a href="/account/transactions.html">Transactions</a></li>
          <li class="leaf"><a href="/promote.html">Promote your site</a></li>
          <li class="leaf"><a href="/account/editdetails.html">Edit Details</a></li>
          <li class="leaf"><a href="/account/logout.html">Logout</a></li>
	 </ul>
       </div>
 	 <div id="maincontents">
{% block text %}{% endblock %}
	 </div>
{% endblock %}