{% extends "accounthome.html" %}
{% load htmlfilter %}
{% load currency %}
{% load transactiondescription %}
{% load cache %}
{% block text %}
<h2>Portfolio</h2>
  <div class="results">
{% for result in results %}
	<div class="result">
	<ul class="moneyportfolio">  	
	{{ result.history|display_history|safe }}
		<li class="moneyli">¢{{ result.money|currency }} - <a href="/invest/{{ result.url.url }}">Buy / Sell</a>
	</ul>  
	<div class="details"> 	  
	<h3><a href="{{ result.url.url }}">{{ result.url.title|santize_html|truncatewords:"10" }}</a> - <a target="_blank" href="{{ result.url.url }}"><img src="/images/nw.gif" alt="New Window"></a></h3>
	<p>{{ result.url.description|truncatewords:"20"|santize_html }}</p>
	<p class="link">{{ result.url.url }} <a href="/url/{{ result.url.url|urlencode }}"><img src="/images/info.gif" alt="Information {{ result.url.title }}"></a></p>
<div class="othertags">Tags: 
	<a href="{{ result.keyword.tag|tallstreetlink }}">{{ result.keyword.tag }}</a>
{% for keyword in result.keywords %}
	<a href="{{ keyword.tag.tag|tallstreetlink }}">{{ keyword.tag.tag }}</a>
{% endfor %}
</div>      
    </div>
    </div>
{% endfor %}

  </div>
{% endblock %}