{% extends "standardpage.html" %}
{% block title %} - Contact Us{% endblock %}
{% block text %}
    <form name="contact_us" method="post" action="" class="form" style="width: 500px;"><fieldset>
     <legend>Contact Us</legend>
    <table>
      <tr>
        <td colspan="2" align="center">We are always interested in hearing about
          any feedback, suggestions or advertising opportunities. Please fill
        out the form below and we will answer your query as quickly as possible. </td>
      </tr>
      <tr>
	<td colspan="2" align="center">
	cont<a href="http://mailhide.recaptcha.net/d?k=01JBhxaNGCqPtIIPOR_2z8bw==&amp;c=6HpBFpz_BVtD8RohBE0rQ40vqqVlhntVRSr5B5LqUpU=" onclick="window.open('http://mailhide.recaptcha.net/d?k=01JBhxaNGCqPtIIPOR_2z8bw==&amp;c=6HpBFpz_BVtD8RohBE0rQ40vqqVlhntVRSr5B5LqUpU=', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">...</a>@tallstreet.com</td>
      </tr>
    </table>
  </form>   
{% endblock %}