{% extends "standardpage.html" %}
{% block title %} - Introduction{% endblock %}
{% block text %}
	<h2>The plight of the little guy</h2>
		<p>It's the passionate little guys who do everything from writing <a href='http://www.tallstreet.com/view/Open_Source/'>open source software</a> to <a href='http://www.tallstreet.com/view/indie_bands/'>indie bands</a>. But it's tough being little in a big world. </p>

		<p>Toughest of all is being heard above the noise the big guys make. </p>

		<p>We think search should be unbiased towards your size, or how much money you have to spend on advertising. 
			We think the site at the top of the search result should be the best site. Tall Street gives you a chance to help out the little guy. </p>

		<h2>What is Tall Street? </h2>
        <p>Tall Street is a Social Recommendation Engine. That is a Web Directory where <B>you</B> control the results. </p>
		<p>What does this mean? When searching our directory if you find useful results
			you can give them a 5/5 rating. Alternatively if you see results
			that don't belong then give them a 1/5 rating. 
			These ratings help us to promote good sites, and remove spam. </p>

		<p>If you become a member of our community you become a trader on our directory
			where you get to play the search results like a stock market. 
			This means you make investments (with fake money) on sites belonging to certain keywords, if 
			when people search those keywords find the sites you have invested in 
			useful, you earn more money to further invest. If people don't find your
			sites useful then you lose money. 
			Trading is easy and fun. Membership is instant and free.
            Anyone can <a href='login.html'>sign
            up</a>. </p>

		<h2>How does it work?</h2>
		<ol>
		<li> Traders (<a href='login.html'>thats you</a>)  make recommendations by investing in their favourite websites under keywords. 
		</li><li> When searching, all the sites that have been invested in under the keyword searched for are displayed ordered by investment.
		</li><li> Throughout the day ratings for the quaility of the websites displayed are collected.
		</li><li> Once a day the ratings collected are used to determine a gain or loss for the site under a particular keyword. e.g. lots of 5/5 ratings for example.com under example would lead to a large gain (and any traders who invested there would earn lots of money) whereas lots of spam ratings for some spam would lead to a loss.
		</li></ol>

		<p>As you can see it doesn't take money, or having a search engine optimized site to get a good ranking in Tall Street. You just need to be able to <a href='buildlink.html'> inspire your users to make investments in you</a>.</p>

		<h2>Why are you doing this? </h2>
		<p>Tall Street wants to change the way you search for websites and allow everyone to see what are quality websites. At Tall Street we think any website should have a fair shot at getting a good ranking. There are millions of quality websites that never get to be seen, this is the opportunity those websites can achieve the success they deserve.</p>

		<h2>What tips do you have to succeed on Tall Street?</h2>

		<ul>
		<li>Invest in quality sites. Find sites that people are likely to rate 5/5.</li>
		<li>Once a day you will get ¢1000 if you keep your balance below ¢1000, so come back every day and invest your balance.</li>
		<li>Invest in a wide range of sites.</li>
		<li>If you own the site you are investing <a href='buildlink.html'>put a link</a> back to TallStreet.com, every click you refer through helps increase its ranking.</li>

		</ul>
{% endblock %}